{% extends "food/base.html" %}
<!-- -->
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'add_recipes.css' %}">


<div class="container">
    <form class="form" method="POST" enctype="multipart/form-data">
        <table>
            <fieldset class="fieldset">
                <legend>Add new recipe</legend>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </table>
    </form>
</div>
{% endblock content %}