{% extends "food/base.html" %}
<!-- -->
{% block content %}
<style>
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .card {
        align-self: center;
        align-items: center;
        display: inline-block;
        flex-direction: column;
        width: 180px;
        height: 150px;
    }

    .link {
        margin-top: inherit;
        display: inline-block;
        position: absolute;
        align-self: center;
        bottom: 0;
        text-align: center;
    }
</style>
<div class="button">
    <button type="button">
        <a href="{% url 'food_planner' %}">Shuffle!</a>
    </button>
</div>
<div class="container">
    <div class="row">
        {% for recipe, day in item_list %}
        <div class="col-lg">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{day}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{recipe}}</h6>
                    <a href="{{recipe.url_links}}" class="link">View recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- -->
{% endblock content %}