{% extends "food/base.html" %}
<!-- -->
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'home.css' %}">

<div class="center-sent">
    <h3>This application is designed to help in organizing your meals for the upcoming week!</h3>
</div>

{% if user.is_authenticated %}
<div class="center">
    <button type="button">
        <a href="{% url 'recipes' %}">Check the recipes!</a>
    </button>
</div>
{% else %}
<div class="center">
    <button type="button">
        <a href="{% url 'user_register' %}">Check the recipes!</a>
    </button>
</div>
{% endif %}

<!-- -->
{% endblock content %}